<div class="header-inner">
  <a class="logo col-1" href="index.html"></a>
  <nav class="header-nav col-8">
    <label id="hamburger" class="hamburger icon icon-hamburger"></label>
    <ul class="nav-list nav-left">
      <li class="nav-item honav"><a href="index.html">Home</a></li>
      <li class="nav-item"><a href="theme.html">Themes</a></li>
      <li class="nav-item"><a href="news.html">News</a></li>
      <!-- <li class="nav-item denav" ><a href="demo.html">Demos</a></li> -->
      <!-- li class="nav-item sonav" ><a href="case_studies.html">Case Studies</a></li>-->
      <li class="nav-item punav">
        <a href="publication.html">Publications</a>
      </li>
      <li class="nav-item punav"><a href="datasets.html">Datasets</a></li>
      <li class="nav-item"><a href="software.html">Software</a></li>
      <li class="nav-item has-dropdown penav">
        <a>People</a><span class="icon icon-carat-down"></span>
        <nav class="header-dropdown">
          <ul class="dropdown-nav-items">
            <li class="dropdown-nav-item">
              <a href="investigators.html" class="ipenav">Investigators</a>
            </li>
            <li class="dropdown-nav-item">
              <a href="researchers.html" class="rpenav">Researchers</a>
            </li>
          </ul>
        </nav>
      </li>
      <li class="nav-item has-dropdown">
        <a>Events</a><span class="icon icon-carat-down"></span>
        <nav class="header-dropdown">
          <ul class="dropdown-nav-items">
            <li class="dropdown-nav-item">
              <a href="events.html#ST15621">Show &amp; Tell 15/06/21</a>
            </li>
            <li class="dropdown-nav-item">
              <a href="events.html#ST280422">Show &amp; Tell 28/04/22</a>
            </li>
            <li class="dropdown-nav-item">
              <a href="events.html#ST270623">Show &amp; Tell 27/06/23</a>
            </li>
          </ul>
        </nav>
      </li>
    </ul>
  </nav>
</div>
