
.aboutCard {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  max-width: 960px;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  border: 0;
  font-family: 'Roboto',sans-serif !important;
  margin: 10px auto;
  vertical-align: top;
}
.aboutCard div[data-ac="1"] {
  text-align: center;
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #fbfafb;
}
.aboutCard div[data-ac="1"] img {
  width: 156px;
  height: 156px;
  border-radius: 50%;
}
.aboutCard div[data-ac="2"] {
  padding: 18px;
  background-color: #201f20;
  color: #fbfafb;
  border-radius: 2px;
}
.aboutCard div[data-ac="2"] h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 100 !important;
  font-family:'Roboto',sans-serif;

}
.aboutCard div[data-ac="2"] h2 {
  margin: 0;
  font-weight: 100;
  font-size: 20px;
  cursor: pointer;
  font-family:'Roboto',sans-serif;

}
.aboutCard div[data-ac="2"] h2:before {
  content: "❮";
  padding-right: 10px;
}
.aboutCard div[data-ac="2"] p {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
  margin: 0;
  padding-top: 20px;
  text-align: right;
  color: #4d90fe;
  font-weight: 500;
}
.aboutCard div[data-ac="2"] p span {
  cursor: pointer;
}
.aboutCard div[data-ac="3"] {
  padding: 18px;
  font-weight: 300;
  min-height: 260px;
  text-align: justify;
  background-color:white;
}

.aboutCard div[data-ac="3"] p {
	font-size: 14px;
	line-height: 20px;
	color:black;
}
 
.aboutCard div[data-ac="3"] span {
  color: #4d90fe;
  font-weight: 400;
  cursor: pointer;
  padding: 18px;

}

.aboutCard div[data-width="40"] span {
	display:none;
}

.aboutCard div[data-width="40"] {
	width:320px;
	display:inline-block;
	vertical-align:top;
}

.aboutCard div[data-width="60"] {
	width:640px;
	display:inline-block;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
