* {
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
}

.custCard img {
	height:60px;
  	max-width: 100%;
	margin:0 auto;
	padding: 10px 20px;
}
.custCard {
	max-width: 90vw;
	margin:0 auto;
	overflow:hidden;
}

.custCard ul{
	list-style:none;
	padding:0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin:0 auto;
}

.custCard ul.anim {
	transition: all 300ms ease-out;
}

.custCard li {
	text-align:center;
	flex: 0 0 92%;
	/*min-width:320px;*/
}


@media screen and (min-width: 768px) {
	.custCard li {
		flex: 0 0 auto;
	}
}
