body {
	font-family:'Roboto',sans-serif;
	font-weight:100;

}


* {
	box-sizing:border-box;
}

.vt img {
	display: block;
	margin: 0 auto;
	padding: 2%;
	max-width: 1080px;
	width: 100%;
}
.content-home .customers {
	background-color: #F5F7FA;
}
.video_container {
	/*https://css-tricks.com/perfect-full-page-background-image/*/
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    bottom: 0;
    left: 0;
	background: url(../images/bg.png) no-repeat 50% 40%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.video_container video {
	display: none;
}
/*https://stackoverflow.com/questions/26905511/css-background-video*/
@media screen and (min-width: 768px) and (min-height: 512px) {


	.twocol {
		display: grid;
		grid-template-columns: 1fr 0.81fr 0.81fr;
		grid-template-rows: auto;
	}
	.video_container {
		grid-column: 2 / 4;
		grid-row: 1;
	}

	.content-home .twocol .quote-text {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		justify-content: center;
		position: absolute;
		max-width: 32vw;
		width: 100%;
		text-align: left;
		color: white;
		top: 50%;
		left: 50%;
		transform: translate(-45%, -40%);
	}

	.twocol h1{
		margin: 0 -0.1em 0.25em;
		font-size: min(max(2.4em, 5.6vmin), 4em);
	}
	.twocol h2 {
		max-width: min(max(50vw, 300px), 20em);
		margin: 0.25em 0em;
		text-align: left;
		font-size: min(max(0.6em, 1.4vmin), 1em);
	}
	.twocol p {
		font-size: min(max(0.7em, 1.7vmin), 1em);
		line-height: 1.5;
	}

	.content-home .case-studies .quote {
		background-color: #fff;
		color: unset;
	}

	.content-home .twocol .quote {
		position: relative;
		margin: 0 -1em; /*compensate for the gap that comes with grid positioning*/
		width: auto;
		background-color:#002147;
	}

	.video_container video {
		display: block;
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -40%);

	}

	/* Calculation done using visible viewwidth percentage and aspect ratio*/
	@media screen and (min-aspect-ratio: 26 / 15) {
		.video_container video {
			width: 100%;
			height: auto;
		}
	}
	@media screen and (max-aspect-ratio: 26 / 15) {
		.video_container video {
			width: auto;
			height: 100%;
		}
	}
}

.markdowner.hide {
	display:none;
}

.content iframe  {
	margin:0 auto;
}

.content .demo h2{
	font-size:18px;
}

.content .demo h3{
	font-size:22px;
}

.content .demo h1{
	font-size:72px;
}

@media (max-width:768px) {
.content .demo h2{
	font-size:16px;
}

.content .demo h3{
	font-size:18px;
}

.content .demo h1{
	font-size:48px;
}
}

.logo {
	height:48px;
}

.nav-item {
	cursor:pointer;
	font-size:16px;
}

.quote {
	display:block !important;
}

.case-studies {
	padding:0 !important;

}

.quote {
	margin-top:0 !important;
}

.demo {

	height:auto !important;
	padding-bottom:200px !important;
}

.case-studies-inner {
	padding-top:2em;
	padding-bottom:2em;
	padding-left:14px;
	padding-right:14px;
}

.stats {
	display:block !important;
	text-align:center !important;
	max-width:960px !important;
	width:100% !important;
}

.empower.softwares .stats {
	max-width:1200px !important;
}

.empower.softwares {
	background-color:rgb(245, 247, 250);
}

.stat {
	display:inline-block !important;
	margin:0 auto !important;
	padding-left:20px !important;
	vertical-align:top !important;
	max-width:280px;
	width:100% !important;
	overflow-x:hidden;
	padding-top:60px;
}

.stats ul {
	max-width:960px;

}

.stats .description p {
	font-size:18px;
	text-align:justify;
	font-weight:300;
}

.stats .description a {
	font-weight: 500;
    display: block;
    margin: 16px 25px;
    border: 2px solid #0077FF;
    border-radius: 20px;
    padding:8px;
    box-sizing: border-box;
    color:  #0077FF;
	background: transparent;
	text-align:center;
}

.stats .description a:hover {
	color:#fff;
	background-color:#0077FF;
}

.stats .title {
	font-size:24px;

	font-weight:300;
}

.stats li {
	max-width:360px;
	margin:30px;
}

.bibtex {
	max-width: 100%;
    overflow-x: auto;
}

.animation-image {
	max-width:280px;
	background-size:contain !important;

	overflow:hidden;
	width:480px;
	}
.content-home .demo {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.content-home {
	padding-bottom:0;
}

.content-home .animation-image {
	height:150px !important;
}

.stats ul {
	list-style:none;
	margin:0 auto;
}

.stats li {
	display:inline-block;
	border-radius:5px;
	vertical-align:top;
}


.dark-content {
	background-color:rgb(245, 247, 250);
}


.publist h2 {
	padding-top: 50px;
    font-size: 24px;
}

.publist.hide {
	display:none;
}

.ref {
	max-width:768px;
	margin:0 auto;
	padding:10px;
}

hr {
	max-width:768px;
	background-color:white;
}

.people {
	padding-top:30px;
	padding-bottom:100px;

	text-align:center;
	font-family:'Roboto';
	font-weight:100;
}


.people h4 {
	font-size: 32px;
	line-height: 1.4;
	font-weight:100;
	padding-top:40px;
	font-family:'Roboto';
}

.showit {
	display:block;
}

.icon-caret-down:before{
	content:"▼";
}




.ref a {
	font-weight:300;
	font-size:16px;
}

.authors {
	color:#0077FF;
	font-size:24px;
}

.conf {
	font-weight:300;
}

.people-head {
	background-color: #09f;
	color:white;
	text-align:center;
	padding-bottom:76px;
}

.people-head h1 {
	max-width: 630px;
    margin: 0 auto;
    display: block;
    padding-top: 76px;
}

@media (max-width:768px) {
.header-nav {
	padding: 60px 10px 10px;
}
}

.people ul {
	list-style:none;
	margin:0 auto;

}

.people li {

	padding:1em;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	width:100%;
	overflow:hidden;
}


.demosec {
	    background-color: rgb(245, 247, 250);
}


.partner-section{
	max-width:960px;
	margin:0 auto;
	text-align:center;
	padding-bottom:100px;

}

.partner-section p{
	display:none;

}


.partner-section h4{
	font-size:36px;
	font-family:'Roboto',sans-serif;
	font-weight:100;
	padding-top:60px;


}

.partner-section h1 {
	font-size:28px;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	line-height:45px;
	padding-top:40px;

}

.partner-section img{
	max-height:60px;
	margin:20px;
	max-width:260px;
}

.content-home h6 {
	font-size:36px;
	font-weight:100;
	font-family:'Roboto',sans-serif;
}

.demo.themesect {
	padding:0 !important;
	margin:0;
  background-image: url(../images/bg1.jpg);
}


footer a {
  font-family:'Roboto',sans-serif;
  box-sizing:border-box;
  background-color:transparent;
  color:#fff;
  display:inline-block;
  cursor:pointer;
  font-size:16px;
  line-height:2.4;
  text-decoration:none;
  width:100%;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .2);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-align:center;
  padding:0 10px;
  border-color:transparent;
  font-weight:100;
}
footer a:only-of-type {
	outline: none;
	text-decoration: underline;
}

footer {padding:20px;text-align:center;background-color:#002147;color:#fff}
footer h1 { font-size:36px;font-weight:100;margin:0 auto; }
footer h2 { font-size:24px;font-weight:100;margin:0 auto; }
footer img{ height:40px;max-width:160px;display:inline-block;padding:0;margin:2px;}
footer p  { max-width:460px;display:inline-block;font-size:16px;text-align:justify;padding:20px;vertical-align:middle;font-weight:100;margin:0 auto;}
footer ul { max-width: 1000px;position: relative;list-style: none;margin:0 auto; display: flex; flex-flow: row wrap; justify-content: center;}
footer li { flex: 0 0 100%; }

/* Logos in the footer */

footer ul:last-of-type{
	align-items: center;
}

footer ul:last-of-type li {
	display: inline-block;
	margin: 0.5em auto;
	flex: 0 0 auto;

}
footer ul:last-of-type li img {
	display: block;
	margin: 0 auto;
	padding: 0 0.5em;
	width: 100%;
	height: auto;
	max-height: 100%;
}

@media screen and (min-width: 768px) {
	footer li {
		flex: 0 0 44%;
	}

	.people h4 {
		font-size: 48px;
		line-height: unset;
	}
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}
* {
  box-sizing: border-box;
}



.loadover {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
}

.loadover.hide {
	display:none;
}

 .loader {
  position: relative;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
  margin-top:250px;

}

.loader div {
  height: 100%;
}



.loader, .loader div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  -webkit-animation: rotate linear 1.5s infinite;
          animation: rotate linear 1.5s infinite;
  border-radius: 50%;
  padding: 4px;
  -webkit-animation: rotate2 2s infinite linear;
          animation: rotate2 2s infinite linear;
}

div:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.loader, .loader * {
  will-change: transform;
}


