

.newspage {
	overflow:hidden;
	min-height:700px;
}

.newsHead {
	font-size: 34px;
	font-weight: 300;
    text-align: center;
    margin: 0;
    line-height: 34px;
    margin-top: 50px;
    color: black;
	max-width:2096px;
	padding:20px;
	padding-right:380px;
}


.real-content {
	max-width:2096px;
	padding:20px;
	padding-right:380px;
	margin-bottom: 50px;
}

.real-content li {
	color:black;
	background-color:white;
	text-align:left;
	max-width:768px;
	margin:15px auto;
	font-weight:300;
	border-radius:20px;
	overflow:hidden;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	font-family:'Roboto',sans-serif;
}

.newsCard img {
	max-width:768px;
	height:auto;
	width:150px;
	height:150px;
	border-radius:5px;
	transform:scale(1.2);
}


.newsCard span[data-act="1"] {
	font-size:32px !important;
	transition:all 300ms linear;
	position: absolute;
    bottom: 0px;
    right: 38px;
	cursor:pointer;
	line-height:32px;
	color: rgba(72, 77, 81, 0.75);
}

.newsCard span[data-act="1"]:before {
	transition:all 100ms linear;
}


.newsCard .rotated:before {
	transform:rotate(180deg);
}




.newsCard div[data-index="1"] {
	display:table;
	width:100%;
	min-height:148px;
	background-color:white;
}

.newsCard div[data-index="2"] {
	display:table-cell;
	width:148px;
	max-width:148px;
	height:148px;
	background-size:cover;
	margin:0 auto;
}

.newsCard div[data-index="3"] {
	display:table-cell;

	padding:8px;
	padding-left:28px;
	vertical-align:middle;
}

.newsCard div[data-index="4"] {
	display:table-cell;
	padding:14px;
	max-height:148px;
	vertical-align:top;
	position:relative;
	width:100px;
	text-align:center;
}

.newsCard p[data-cat="1"] {
	margin: 0;
    line-height: 36px;
    font-size: 18px;
    font-family: 'Roboto Slab','Roboto',sans-serif;
	font-weight:300;
	color:black;
}

.newsCard p[data-cat="2"] {
	color:#002147;
	font-weight:400;
}

.newsCard p[data-cat="4"] a, .newsCard span[data-act="2"]  a {
	border: 2px solid #0077FF;
	margin:4px;
	padding:6px 10px;
	border-radius:6px;
	font-weight:400;
	transition:all 300ms linear;
	display:inline-block;
	cursor:pointer;
	line-height: 1;
    font-size: 14px;
}

.newsCard p[data-cat] {
	margin:0;
}

.newsCard p[data-cat="2"], .newsCard p[data-cat="3"] {
	display:inline-block;
	padding-right:10px;
}

.newsCard p.hide {
	display:none;
}


.newsCard p[data-cat="4"] a:hover, .newsCard span[data-act="2"] a:hover {
	color:white;
	background-color:#0077FF;
}

.newsCard p[data-cat="6"] {
	padding: 20px;
    margin: 0;
}

@media (max-width:768px) {
	.newspage  iframe{
	position:static !important;
	display:block;
	width:100% !important;
	}
	.real-content {
		padding:0;
	}

	.real-content li {
		border-radius:0;
		padding-top:20px;
	}

	.newsCard {
		margin:0;
		max-width:768px;
	}

	.newsCard div[data-index="3"] {
		padding-left:18px;
	}

	.newsCard p[data-cat="4"] a {
	display: block;
    max-width: 150px;
    margin: 5px auto;
    text-align: center;
	}

	.newsCard div[data-index="4"] {
		width:100%;
	}
	.newsCard div[data-index="4"] span[data-act="2"] {
		display:block;
		margin:20px;
	}


}

@media (min-width: 769px) {
	.newspage  iframe.twitter-timeline {
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	position:absolute !important;
	top:80px;
	right:10px;
	border-radius:10px;
	/*height: 90% !important;*/
	}
}

@media (max-width: 1200px) {
	.newsCard div[data-index] {
		display:block;
		max-width:640px;
		margin:0 auto;
	}
	.newsCard img {
		transform:scale(1);
	}

	.real-content li {
		padding-top:20px;
	}

	.newsCard div[data-index="4"] {
		width:100%;
	}

	.newsCard div[data-index="4"] span[data-act="2"] {
		margin:20px;
	}

	.newsCard div[data-index="4"] span[data-act="2"] a {
		vertical-align:top;
	}
}

/*
@media (min-width:	960px) {

	.newsCard div[data-index="1"] {
		display:table;
		width:100%;
	}
	.newsCard .cover {
		display:table-cell;
	}
	.newsCard .infodiv {
		display:table-cell;
		vertical-align:top;
		padding-left:16px;
	}

	.newsCard .title {
		text-align:center;
		margin:0;
		line-height:56px;
		font-weight:300;
		font-size:22px;
	}
	.newsCard .date {
		display:inline-block;
		margin:0;

	}
	.newsCard div[data-index="2"] {
		position:relative;
	}


}
*/

