* {box-sizing:border-box;}

.publicat { padding-bottom:50px;}

.pubCard {
	max-width:768px;
	margin:18px auto;
	font-weight:300;
	border-radius:20px;
	overflow:hidden;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	font-family:'Roboto',sans-serif;
}

.pubCard div[data-index="1"] {
	display:table;
	width:100%;
	min-height:148px;
	background-color:white;
}

.pubCard div[data-index="2"] {
	display:table-cell;
	width:198px;
	max-width:198px;
	height:148px;
	background-size:cover;
	margin:0 auto;
}

.pubCard div[data-index="3"] {
	display:table-cell;
	background-color:#f5f5f5;
	padding:8px;
	padding-left:16px;
	vertical-align:middle;
}

.pubCard div[data-index="4"] {
	display:table-cell;
	width:80px;
	background-color:white;
	padding:14px;
	max-height:148px;
	vertical-align:top;
	display:none;
} 

.pubCard .title {
	margin: 0;
    line-height: 24px;
    font-size: 18px;
    font-family: 'Roboto Slab','Roboto',sans-serif;
	font-weight:300;
	color:black;
}

.pubCard .author {
	color:#002147;
	font-weight:400;
}

.pubCard .booktitle {
	color:black;
	
}

.pubCard .year {
	display:none;
}

.pubCard .abstract.hide {
	display:none;
}

.pubCard .links.hide {
	display:none;
}

.pubCard span[data-act] {
	width:54px;
	height:54px;
	margin:0 auto;
	background-color:rgb(150,150,150);
	border-radius:50%;
	display:inline-table;
	background-position: 50%;
    background-repeat: no-repeat;
	cursor:pointer;
	transition:all 300ms linear;
	background-size:36px;
}

.pubCard span[data-act]:hover {
	transform:scale(0.9);
}

.pubCard span[data-act="1"] {
	background-image:url(../images/link-icon.png);
}

.pubCard span[data-act="2"] {
	background-image:url(../images/more-icon.png);
}

.pubCard div[data-index="5"] {
	border-top:2px solid rgb(200,200,200);
}

.pubCard .abstract {
	background-color:white;
	padding:20px;
	color:black;
}


/*
.pubCard {
	padding:20px;
	user-select:none;
	color:black;
	background-color:white;
	text-align:left;
	max-width:768px;
	margin:50px auto;
	font-weight:300;
	border-radius:5px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}



.pubCard div[data-index="1"] {
	padding:8px;
	text-align:center;
	border-radius:5px;
}

.pubCard div[data-index="1"] p {
	font-size:24px;
	line-height:48px;
	
}

.pubCard div[data-index="3"]  {
	text-align:right;
	padding-right:10px;
}

.pubCard div[data-index="3"] span {
	text-transform:uppercase;
	color:#0077FF;
	font-weight:500;
	cursor:pointer;
	font-size:18px;
	
}

.pubCard .abstract.hide {
	display:none;
}



.pubCard .author {
	color:#002147;
	font-weight:400;
}

.pubCard .links {
	padding:16px;
}

*/
.pubCard .links a {
	border: 2px solid #0077FF;
	margin:4px;
	padding:6px 10px;
	border-radius:6px;
	font-weight:400;
	transition:all 300ms linear;
	display:inline-block;
	cursor:pointer;
	line-height: 1;
    font-size: 14px;
}

.pubCard .links a:hover {
	color:white;
	background-color:#0077FF;
}

@media (max-width:768px) {
	
.pubCard .links a {
	display:block;
	text-align:center;
	max-width:300px;
	margin:4px auto;
}

.pubCard div[data-index] {
	display:block;
	width:100%;
}

.pubCard div[data-index="2"] {
	background-repeat:no-repeat;
}

.pubCard div[data-index="4"] {
	display:table;
	display:none;
	max-width: 168px;
    margin: 0 auto;
    border-spacing: 10px
}

.pubCard span[data-act] {
	display:table-cell;
	max-width:54px;
}
}
