.icon:before,
[data-icon]:before {
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

ol,
ul {
    list-style: none
}

body,
html {
    height: 100%
}

* [class*=col-] {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    padding: 0 .6rem
}

.col-9 {
    width: 100%
}

.col-8 {
    width: 88.88888889%
}

.col-7 {
    width: 77.77777778%
}

.col-6 {
    width: 66.66666667%
}

.col-5 {
    width: 55.55555556%
}

.col-4 {
    width: 44.44444444%
}

.col-3 {
    width: 33.33333333%
}

.col-2 {
    width: 22.22222222%
}

.col-1 {
    width: 11.11111111%
}

.row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center
}

@font-face {
    font-family: www-icons;
    src: url(../pub/fonts/www-icons.woff);
    font-weight: 400;
    font-style: normal
}

.icon:before {
    font-family: www-icons;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit
}



body,
ul {
    padding: 0;
    margin: 0
}



.icon-carat-down:before {
    content: "\EA04"
}

.icon-hamburger:before {
    content: "\EA09"
}



/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
    font-size: 14px;
    line-height: 1.71428571;
    color: #777;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

a {
    color: #287fca;
    text-decoration: none
}

.label,
.text-white,
footer,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #fff
}

hr {
    border-color: #C9C9CF;
    border-style: solid
}

div {
    box-sizing: border-box
}

.label {
    display: inline-block;
    padding: 4px 6px;
    font-size: .705em;
    font-weight: 600;
    line-height: 1;
    background-color: #999;
    border-radius: 2px
}

h1,
h2 {
    line-height: 1.5;
}

.label.success {
    background: #5cb85c
}

.label.danger {
    background: #d9534f
}

.content {
    position: relative;
    width: 1080px;
    padding: 70px 0 40px;
    margin: 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
    display: flex
}



.logo, header ul {
    -ms-grid-row-align: center;
    align-self: center
}

.right-content>:first-child {
    margin-top: 0
}

.display-none {
    display: none!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 0;
	z-index:3;
}

.alt-font {
    font-family: Raleway, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px
}

h5,
h6 {
    font-weight: 600;
    margin-bottom: 16px
}

h1 {
    font-size: 32px;
    margin-bottom: 48px
}

h2 {
    font-size: 28px
}

h3 {
    font-size: 26px;
    line-height: 32px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

p {
    font-size: 16px;
    line-height: 24px
}



footer {
    padding: 0 0 20px;
    font-size: 17px;
    background-color: #002147;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}



header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: .2px;
    background-color: #fff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .08);
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

header ul {
    -ms-flex-item-align: center
}

header .icon-carat-down {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: -2px;
    right: 0
}

header .icon-carat-down:hover {
    color: #002147
}

.header-inner {
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
}

.hamburger {
    display: none
}

.logo {
    margin-left: 2em;
    display: block;
    height: 28px;
    background: url(../pub/images/logo.png) 50% 50% no-repeat;
    background-size: contain;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-item-align: center;
}

.header-nav {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.nav-list {
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
}

.nav-list.nav-left {
    -ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
}

.nav-item {
    padding: 1px 2px 0;
    white-space: nowrap;
	font-weight:300;
}

.nav-item a {
    font-weight: 400;
    color: rgba(72, 77, 81, .75);
	padding-right:10px;
}

.nav-item a:hover {
    color: #002147
}

.nav-item.active-nav a {
    color: #0077FF
}

.nav-item:last-child {
    margin-right: 0
}

.nav-item.has-dropdown {
    position: relative
}

.nav-item.has-dropdown a {
    margin-right: 8px
}

.nav-btn {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #002147;
    border-radius: 20px;
    margin-right: 12px;
    font-weight: 500
}

.nav-btn a {
    padding: 8px 16px;
    color: #002147;
    cursor: pointer;
    display: inline-block
}

.nav-btn.blue,
.nav-btn.blue a {
    color: #0077FF
}

.nav-btn.blue {
    border: 2px solid #0077FF
}

.nav-btn:hover a,
.nav-btn:hover.blue a {
    color: #fff
}

.nav-btn:hover {
    background-color: #002147
}

.nav-btn:hover.blue {
    background-color: #0077FF
}

@media (min-width:960px) {
    .header-inner {
        width: 100%;
        max-width: 1188px
    }
}

@media (max-width:2080px) {
    .nav-item {
        margin: 0 10px 0 0
    }
}

@media (max-width:768px) {
    .hamburger,
    .header-nav {
        position: absolute;
        transition: .15s ease-out;
        top: 0
    }
    header {
        z-index: 101;
        height: 50px
    }
    header .icon-carat-down {
        display: none
    }
    .logo {
        width: 178px;
        margin: 0 auto;
        background-position: center center
    }
    .hamburger {
        right: 0;
        display: block;
        padding: 0 20px;
        font-size: 25px;
        color: #458ac8;
        transform: translateX(100%)
    }
    .hamburger:before {
        line-height: 50px
    }
    .header-nav {
        bottom: 0;
        left: 0;
        right: 25%;
        width: auto;
        z-index: 110;
        padding: 0 10px 10px;
        background: #fff;
        -ms-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -ms-flex-pack: end;
        justify-content: flex-end;
        transform: translateX(-100%)
    }
    .nav-list {
        display: block;
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
        overflow: auto;
        -webkit-overflow-scrolling: touch
    }
    .nav-auth {
        margin-bottom: 10px;
        box-shadow: 0 1px rgba(0, 0, 0, .1);
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        overflow: visible
    }
    .nav-item {
        line-height: 26px;
        margin: 6px 0;
        padding: 2px 0 0 6px;
        background: 0 0;
        text-align: center
    }
    .nav-item a {
        display: block;
        color: #323237
    }
    .nav-item a.nav-auth-logged-in-user {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }
    .nav-item.has-dropdown {
        box-shadow: 0 -1px #eee;
        margin: 0 20px;
        padding: 12px 0 0
    }
    .nav-item.has-dropdown a {
        margin-right: 0
    }
    .show-mobile-nav {
        overflow: hidden;
        width: 100%
    }
    .show-mobile-nav .sticky-nav .left-nav {
        width: auto;
        position: relative;
        top: 0
    }
    .show-mobile-nav .hamburger {
        transform: translateX(0)
    }
    .show-mobile-nav .header-nav,
    .show-mobile-nav .sidebar {
        position: fixed;
        transform: translateX(0);
        box-shadow: 1px 0 3px rgba(0, 0, 0, .1), 1px 0 rgba(0, 0, 0, .1)
    }
    .show-mobile-nav:after {
        position: fixed;
        content: '.';
        color: transparent;
        text-align: right;
        padding-top: 175%;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .25)
    }
    .nav-btn {
        border: none;
        margin: 0;
        padding: 0;
        height: 50px
    }
    .nav-btn.blue {
        padding-right: 50px;
        border: none
    }
    .nav-btn a {
        padding: 0 16px;
        line-height: 50px
    }
}

.header-dropdown {
    position: absolute;
    right: -20px;
    top: 40px;
    background-color: #fff;
    box-shadow: 0 2px 6px 1px rgba(31, 42, 51, .18);
    min-height: 30px;
    min-width: 180px;
    z-index: 20000;
    padding: 24px 6px 0 24px;
    display: none
}

.header-dropdown.active {
    display: block
}

.header-dropdown .dropdown-nav-item {
    margin-bottom: 26px
}

.header-dropdown .dropdown-nav-item a {
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: .2px;
    color: rgba(72, 77, 81, .75);
    text-decoration: none
}

.header-dropdown .dropdown-nav-item a.active-nav-dropdown {
    color: #0077FF
}

.header-dropdown .dropdown-nav-item a:hover {
    color: #002147
}

.header-dropdown.header-dropdown-careers .careers,
.header-dropdown.header-dropdown-custom-training .custom-training,
.header-dropdown.header-dropdown-moderation .moderation,
.header-dropdown.header-dropdown-organization .organization,
.header-dropdown.header-dropdown-services .services,
.header-dropdown.header-dropdown-visual-search .visual-search {
    color: #0077FF
}

@media (max-width:768px) {
    .header-dropdown {
        position: relative;
        top: auto;
        left: 0;
        min-height: 1px;
        min-width: 1px;
        display: block;
        padding: 12px 0;
        margin-bottom: 12px;
        box-shadow: 0 1px #eee
    }
    .header-dropdown .dropdown-nav-item a {
        font-size: 15px
    }
    .header-dropdown .dropdown-nav-item:last-child {
        margin-bottom: 0
    }
}


.content-home .animation-image,
.content-home .customers .customer-logo,
.content-home .demo,
.content-home .publications .publication-logo {
    background-repeat: no-repeat;
    background-size: cover
}

.content-home .customers .customer-logo.selected,
.content-home .publications .publication-logo.selected {
    background-position-y: -72px
}



.content-home {
    display: block;
    width: 100%;
    background-color: #fff
}

.content-home h1 {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 auto 0.25em;
    line-height: 1.1
}

.content-home h2 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: 'Roboto'
}

.content-home h4,
.content-home h5 {
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto'
}

.content-home h3 {
    font-size: 18px;
    letter-spacing: .4px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    line-height: 1.45
}

.content-home h4 {
    font-size: 34px;
    letter-spacing: .7px;
    color: #002147
}

.content-home h5 {
    color: #484d51;
    font-size: 18px;
    letter-spacing: .4px
}

.content-home h1, .content-home h2, .content-home h3 {
    z-index: 2;
    position: relative;
	font-family:'Roboto',sans-serif;
}


.content-home .demo .refresh-image,
.content-home .demo .tag {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase
}

.content-home .demo {
    position: relative;
    background-image: url(../images/bg0.jpg);
    padding-top: 232px;
    color: #fff;
    height: 416px;
    background-position: 50% 50%
}
/*
.content-home .demo h3 {
    width: 320px
}
*/

.content-home .demo .image-darkener {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
    pointer-events: none
}

.content-home .demo .controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, .75);
    z-index: 3
}

.content-home .demo .demo-image {
    max-width: 1200px;
    margin: 0 auto;
    display: none
}

.content-home .demo .demo-image.selected {
    display: -ms-flexbox;
    display: flex
}

.content-home .demo .colors,
.content-home .demo .tags {
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px
}

.content-home .demo .tags {
    border-right: 1px solid #fff;
    height: 20px;
    padding-right: 15px
}

.content-home .demo .tag {
    text-align: left;
    color: #fff;
    margin: 0 15px
}

.content-home .demo .colors {
    padding: 0 25px
}

.content-home .demo .color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 5px
}

.content-home .demo .refresh-image {
    text-align: center;
    color: #0077FF;
    border: 1px solid #0077FF;
    border-radius: 20px;
    background-color: transparent;
    padding: 11px 22px;
    margin: 20px 15px 0 auto;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 150px
}

.content-home .animations h4 {
    margin: 100px auto 27px
}

.content-home .animations h5 {
    margin: 0 auto 5px;
    width: 410px
}

.content-home .animations .title {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: .5px;
    text-align: center;
    color: #002147;
    margin: 0 auto 30px
}

.content-home .animations .description {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .3px;
    text-align: center;
    color: #484d51;
    width: 360px;
    margin: 0 auto
}

.content-home .animations-inner {
    width: 1200px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.content-home .animation {
    width: 50%;
    margin: 100px 0
}

.content-home .animation-image {
    margin: 0 auto;
    width: 480px;
    height: 300px
}


.content-home .case-studies {
    background-color: #F5F7FA;
    padding: 100px 0 0
}

.content-home .case-studies h4 {
    margin: 0 auto 34px
}

.content-home .case-studies h5 {
    max-width: 768px;
    width: 90%;
    margin: 0 auto 20px
}

.content-home .case-studies .tabs {
    display: -ms-flexbox;
    display: flex;

    margin: 0 auto 72px;
    -ms-flex-pack: center;
    justify-content: center
}

.content-home .case-studies .tab {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: left;
    color: #002147;
    margin: 0 20px;
    text-transform: uppercase;
    cursor: pointer
}

.content-home .case-studies .tab.selected {
    color: #0077FF;
    border-bottom: 2px solid
}

.content-home .case-studies .quote {
    background-color: #002147;
    color: #fff;
    padding: 2em 0;
    width: 100%;
    margin-top: 75px;
    display: none
}

.content-home .case-studies .quote.selected {
    display: block
}

.content-home .case-studies .quote-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: .4px;
    text-align: center;
    width: 720px;
    margin: 0 auto
}

.content-home .case-studies .quote-text:after,
.content-home .case-studies .quote-text:before {
    font-family: source-sans-pro;
    color: #0077FF;
    font-size: 50px;
    display: block;
    text-align: center
}

.content-home .case-studies .quote-person {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: center;
    color: #484d51
}

.content-home .case-study {
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto
}

.content-home .case-study.selected {
    display: -ms-flexbox;
    display: flex
}

.content-home .case-study .image {
    width: 584px;
    height: 480px;
    background-repeat: no-repeat
}

.content-home .case-study .text {
    background-color: #fff;
    padding: 90px 84px;
    margin-left: 24px;
    box-shadow: 0 4px 8px 0 rgba(31, 42, 51, .08)
}


.content-home .case-study .title {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: .5px;
    text-align: center;
    color: #002147;
    width: 420px;
    margin: 0 auto 30px;
    line-height: 1.4
}

.content-home .case-study .description {
    width: 390px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .3px;
    text-align: center;
    color: #484d51
}

.content-home .customers {
    padding: 2em 0;
}

.content-home .customers h4 {
    font-size: 26px;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

.content-home .empower .stat-measurement,
.content-home .empower .stat-title {
    letter-spacing: 1.2px;
    color: #002147;
    text-transform: uppercase;
    border-bottom: 2px solid #0077FF
}

.content-home .customers .customer-logos {
    display: -ms-flexbox;
    display: flex;
    width: 1024px;
    margin: 0 auto;
    -ms-flex-pack: center;
    justify-content: center
}


.content-home .empower {
    padding: 100px 0 0
}

.content-home .empower h4 {
    margin-bottom: 27px
}

.content-home .empower h5 {
    width: 530px;
    margin: 0 auto 56px
}

.content-home .empower .stats {
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.content-home .empower .stat {
    width: 280px;
    margin-bottom: 100px
}

.content-home .empower .stat-title {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 18px
}

.content-home .empower .stat-number {
    font-size: 90px;
    font-weight: 300;
    text-align: left;
    color: #002147;
    line-height: 80px;
    margin-bottom: 19px
}

.content-home .empower .stat-measurement {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 24px
}

.content-home .empower .stat-description {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .4px;
    text-align: left;
    color: #484d51;
    line-height: 1.3;
    width: 210px
}

@media (max-width:768px) {
    .content-home .case-studies h4,
    .content-home .empower h4 {
        line-height: 1.2
    }
    .content-home {
        padding-top: 50px
    }
    .content-home h1 {
        font-size: 40px
    }
    .content-home .demo {
        padding: 100px 20px 0
    }
    .content-home .demo h3 {
        width: 100%
    }
    .content-home .demo .demo-image {
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 15px
    }
    .content-home .demo .controls {
        -webkit-backdrop-filter: blur(4px);
        height: auto;
        padding-bottom: 12px
    }
    .content-home .demo .colors,
    .content-home .demo .tags {
        display: -ms-flexbox;
        display: flex;
        margin-top: 12px;
        overflow: auto;
        -webkit-overflow-scrolling: touch
    }
    .content-home .demo .tags {
        border: none;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 0 10px;
        box-shadow: 0 1px rgba(255, 255, 255, .2)
    }
    .content-home .demo .colors {
        padding: 0;
        margin-right: 0;
        margin-top: 15px
    }
    .content-home .demo .refresh-image {
        margin: 12px 0 0;
        border: none;
        padding: 0
    }
    .content-home .demo .tag {
        margin: 0 15px 0 0
    }
    .content-home .demo .color {
        margin: 0 10px 0 0
    }
    .content-home .animations {
        padding: 0 20px
    }
    .content-home .animations .description,
    .content-home .animations h5,
    .content-home .animations-inner {
        width: 100%
    }
    .content-home .animation {
        width: 100%;
        margin: 30px 0
    }
    .content-home .animation-image {
        width: 240px;
        height: 150px
    }
    .content-home .case-studies {
        padding: 100px 0 39px
    }

    .content-home .case-studies .tabs {
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto 20px
    }
    .content-home .case-studies .tab {
        width: 100%;
        margin: 5px
    }
    .content-home .case-studies .quote {
        padding: 1em 0;
    }
    .content-home .case-studies .quote-text {
        width: 100%;
        padding: 0 20px
    }
    .content-home .case-study {
        width: 100%
    }
    .content-home .case-study .image {
        width: 100%;
        background-size: contain;
        height: auto;
        position: relative
    }
    .content-home .case-study .image:after {
        content: '';
        padding-top: 90%;
        display: block
    }
    .content-home .case-study .text {
        padding: 0;
        margin: 0;
        background-color: transparent;
        box-shadow: none
    }
    .content-home .case-study .description,
    .content-home .case-study .title {
        width: 100%
    }
    .content-home .customers {
        padding: 2em 0;
    }
    .content-home .customers .customer-logos {
        width: 100%;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .content-home .customers .customer-logo {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        background-position: 50% 0
    }
    .content-home .empower {
        padding: 80px 20px 0
    }
    .content-home .empower h5 {
        width: 100%
    }
    .content-home .empower .stats {
        width: 100%;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .content-home .empower .stat {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px
    }

}
